$link : #0077b5;



.loginScreen {
    width: 400px;
    margin: 100px auto;
    text-align: center;
    img {
        width: 200px;
        margin-bottom: 20px;
    }
    input {
        display: block;
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
        padding: 0px 10px;
        border: 2px solid #000;
        border-radius: 5px;
        box-sizing: border-box;
    }
    input[type="submit"]{
        border-radius: 0px;
        background-color: $link;
        border: 0;
        color: #fff;
        letter-spacing: 2px;
        cursor: pointer;
    }
    h4 span {
        color: $link;
        cursor: pointer;
    }
    .link h3 {
        color: $link;
    }
    
    
}